<template>
    <div><div class="last__price">
        <span>Last price:</span>
        <span> {{balance_name}} {{last_price}}</span>
    </div>
    <div class="group">

        <select>
            <optgroup label="Pending order">
                <option>Limit</option>
                <option>Stop</option>
                <option>Stop Limit</option>
            </optgroup>
            <optgroup label="Market order">
                <option>Market</option>
            </optgroup>
        </select>
        <span class="padding">{{balance_name}}</span>
        <span class="balance">{{balance}}</span>
        <div class="wrapper">
            <span class="title">Price</span>
            <input v-model="price"  @input="handleTotal" placeholder="0" type="number"/>
        </div>
        <div class="wrapper">
            <span class="title">Amount</span>
            <input v-model="amount" @input="handleTotal" placeholder="0" type="number"/>
        </div>
        <div class="wrapper" v-if="commission > 0">
            <span class="title">Сommission</span>
            <span class="readonly">{{commission}}</span>
        </div>
        <div class="wrapper">
            <span class="title">Total</span>
            <span  class="readonly">{{total}}</span>
        </div>
        <div class="warn" v-if="badBalance">Недостаточно средств</div>
        <div class="warn" v-if="badFormat">Пустое поле или неверный формат</div>
        <div class="warn" v-if="badLimit">Отличается от last price +-10%</div>
        <div class="info" >Минимальная сумма: {{min}}</div>
        <div>
            <button :disabled="this.total === 0 ||
             this.total > this.balance ||
              badBalance === true ||
                badFormat === true ||
                badLimit === true" @click="pushOrder">{{btnName}}</button>
        </div>

    </div>
    </div>
</template>

<style>
.last__price {
    position: absolute;
}
.warn {
    color: red;
    font-size: 10px;
}
.info {
    color: blue;
    font-size: 10px;
}
.readonly {
    opacity: .5;
}

.balance {
    margin-left: 6px;
}

.group {
    margin-top: 50px;
    border: 1px greenyellow solid;
    padding: 20px;
}

.padding {
    margin-left: 30px;
}

select {
    margin: 0 0 30px 0;
}

.title {
    display: inline-block;
    width: 100px;
}

.wrapper {
    padding: 10px;
}

</style>

<script>

    export default {
        name: 'limit-form',
        props: ['btnName', 'balance_name', 'commission', 'balance', 'last_price', 'min_total'],
        data() {
            return {
                price: '',
                amount: '',
                total: 0,
                badBalance: false,
                badFormat: false,
                badLimit: false,
                min: 0,
            }
        },
        methods: {
            handleTotal() {
                if(this.price > 0 && this.amount > 0) {
                    this.total = (this.price * this.amount + (this.price * this.amount * this.commission)).toFixed(2);
                    this.checkTotal();
                    this.checkFormat();
                    this.checkLimit();

                } else {
                    this.total = 0;
                    this.checkFormat();
                    this.checkTotal();
                    this.checkLimit();
                }
            },
            checkFormat() {
                this.badFormat = this.price < 0 || this.amount < 0 ||
                    this.amount.length === 0  || this.price.length === 0 ||
                    isNaN(this.price) || isNaN(this.amount);
            },
            checkTotal(){
                if(this.total > this.balance) {
                    this.badBalance = true;
                }else if(this.total < this.balance) {
                    this.badBalance = false;
                }
            },
            checkLimit() {
                let min =  (this.last_price - this.last_price * 0.1) + this.last_price * this.commission;
                let max =  (this.last_price + this.last_price * 0.1) + this.last_price * this.commission;
                this.badLimit = this.total > max || this.total < min;

            },
            pushOrder() {
                this.writeOffBal();
                const item = {balance: this.balance_name, price: this.price,
                    amount: this.amount, commission: this.commission, total: this.total};
                this.$store.dispatch('addOrders', item);
                this.checkTotal();
                this.clearField();
            },
            writeOffBal() {
                this.balance = this.balance - this.total;
            },
            clearField() {
                this.price = '';
                this.amount= '';
                this.total = 0;
            }

        },
        mounted() {
            this.min =  (this.last_price - this.last_price * 0.1) + this.last_price * this.commission;
        }



    }

</script>