<template>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Balance</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Commission</th>
                <th>Total</th>
            </tr>
            <tr :key="order.id" v-for="(order, index) in $store.state.orders">
                <td>{{order.balance}}</td>
                <td>{{order.price}}</td>
                <td>{{order.amount}}</td>
                <td>{{order.commission}}</td>
                <td>{{order.total}}
                    <button @click="$store.dispatch('removeOrderByPosition', index)"
                            class="table__btn">Remove
                    </button>
                </td>

            </tr>
            </thead>
        </table>
    </div>
</template>
<style>

.table-wrapper {
    margin-top: 50px;
}

table {
    border-spacing: 0;
    margin-top: 10px;

}

tr {
    height: 20px;
}

td {
    border-right: 1px solid burlywood;
    border-left: 1px solid burlywood;;
}

td, th {
    padding: 6px;
}

tr:nth-child(odd) {
    background-color: beige;
}

.table__btn {
    border: 0;
    background-color: transparent;
    color: red;
    text-decoration: underline;
}

.table__btn:hover {
    color: blue;
}


</style>

<script>
    export default {
        name: 'my-orders',


    }
</script>