<template>
  <div id="app">
    <limit-form balance_name="USD" :balance="$store.state.balance.balanceUSD"
          :last_price="$store.state.lastPrice.lastPriceUSD" btnName="Buy"
          :commission="$store.state.commission.commissionUSD"
    />
    <limit-form min="0" balance_name="BTC" :balance="$store.state.balance.balanceBTC"
          :last_price="$store.state.lastPrice.lastPriceBTC" btnName="Sell"
          :commission="$store.state.commission.commissionBTC"/>
  <my-orders/>
  </div>
</template>

<script>
import limitForm from './components/limitForm.vue'
import myOrders from './components/myOrders.vue'


export default {
    name: 'app',
    components: {
        limitForm,
        myOrders,
    }
}
</script>

<style>
#app {
  display: flex;
  justify-content: space-around;
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  flex-wrap: wrap;
}

</style>
